body {
    background-color: #666;
    font-size: 3rem;
    margin: 6rem;
}
.button {
    display: flex;
    justify-content: center;
}
button {
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.disable {
    display: flex;
    justify-content: center;
}
#disable-button-checkbox {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    box-shadow: 2px 2px 5px black;
}
